#chat-screen{
    background-color: #abc1d1;
}

#chat-screen .alt-screen-header{
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

#chat-screen .status-bar{
    z-index: 2;
}

.main-chat{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.chat__time{
    font-size: 14px;
    position: fixed;
    color: white;
    background-color: #92a4b2;
    padding: 15px;
    border-radius: 25px;
}

.message-row{
    display: flex;
    margin-top: 10px;
}

.message-row__author{
    opacity: 0.8;
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}

.message-row img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.message-row__info{
    display: flex;
    align-items: flex-end;
}

.message-row__info__text{
    font-size: 18px;
    background-color: white;
    padding: 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message-row__info__time{
    font-size: 13px;
    opacity: 0.8;
}

.message-row--own{
    justify-content: flex-end;
}
.message-row--own .message-row__info__text{
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;

}

.message-row--own .message-row__info{
    flex-direction: row-reverse;
}

.reply{
    position: fixed;
    background-color: white;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
}

.reply .reply__column:first-child{
    width: 10%;
}
.reply .reply__column:last-child{
    width: 90%;
    display: flex;
}

.reply input{
    height: 30px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding-left: 15px;
}

.reply__column__right{
    display: flex;
}

.reply__column__right .fa-face-smile-wink{
    position: absolute;
    top: 12px;
    right: 70px;
    font-size: 20px;
}

.reply__column__right button{
    position: absolute;
    top: 9px;
    right: 28px;
    background-color: var(--yellow);
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}