.find-icons{
    display: flex;
    justify-content: space-between;
}

.find-icons__column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__column i{
    font-size: 35px;
    margin-bottom: 15px;
}