.welcome-header{
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title{
    font-size: 25px;
    margin-bottom: 15px;
}

.welcome-header__text{
    width: 60%;
    opacity: 0.7;
}

.login-form{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    border: none;
    font-size: 15px;
}

.login-form__input{
    font-size: 18px;
    padding: 15px 0px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    transition: border-color 1s ease-in-out;
}

.login-form__input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.login-form__input:focus {
    outline: none;
    border-color: var(--yellow);
}

.login-form__btn{
    font-size: 20px;
    margin-top: 20px;
    border: none;
    padding: 20px 0px;
    margin-bottom: 25px;
    background-color: var(--yellow);
    cursor: pointer;
    border-radius: 5px;
}

.login-form__a{
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    text-align: center;
}
